html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #444;
  background-color: white;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#root {
  width: auto;
}

#container {
  /*background-color: #f6feff; */
  border-color: #1e9b8a;
}

#main-content-tab {
  margin-right: -360px;
  width: 100%;
  float: left;
}

#config-content-tab {
  width: 350px;
  float: left;
}

.clear {
  clear: both;
}

.row {
  margin-right: 370px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-logo {
}

.col-logo img {
  width: 100px;
  height: 100px;
}

.col-title {
  box-sizing: border-box;
}

#auth-token {
  margin-left: 30px;
}
#auth-token-string {
  background-color: #F0F8FF;
  width: 100%;
  border: 1px solid;
}

.col-app {
  width: 100%;
}

.col-form {
  width: 100%;
}

#logging {
  margin-left: 30px;
}

#log {
  width: 46%;
  border: 1px solid;
  border-color: #1e9b8a;
  border-radius: 6px;
  padding: 0;
}

#log ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#log ul li {
  border-radius: 6px;
}

.li-request {
  background-color: #d6f9ff;
}

.li-response-ok {
  background-color: #d8ffd6;
}

.li-response-nok {
  background-color: #ffd6d6;
}

.liType {
  width: auto;
}

.liResource {
  width: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#json-table {
  width: 47%;
  border: 1px solid;
  border-color: #1e9b8a;
  border-radius: 6px;
}

fieldset {
  border: 1px solid;
  border-color: #1e9b8a;
  border-radius: 6px;
  width: auto;
}
input {
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #444;
  border: 1px solid;
  border-color: #1e9b8a;
  border-radius: 6px;
  margin: 4px;
}
input:[type=text]focus {
  color: #fffbf0;
}
input:[type=number]focus {
  color: #fffbf0;
}

textarea {
  font-family: monospace;
  font-size: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #1e9b8a;
}

#auth-token {
  width: 100%;
}
#auth-token textarea{
  width: 96%;
  height: 70px;
  font-size: 9px;
  resize: none;
  /*user-select: none;*/
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #1e9b8a;
}

#resource-path {
  width: 96%;
}

#make-get-request #make-post-request {
  width: 100px;
}
