build
dist
build
*.egg-info
*.build
.cproject
.project
.settings/**
.vscode/**
compile_commands.json
*.swp
*.swo
buildinfo.h
__pycache__
.venv
.vssclient_history
*.parquet
*.downloaded
node_modules/
.npm
.config.*.json
.config.*.json.backup
.flows.json.backup
flows_cred.json
*.backup
*.srl
*.csr
target/
