[Unit]
Description=w3c VIS server
After=network.target

[Service]
WorkingDirectory=/usr/bin/kuksa-val-server
ExecStart=/usr/bin/kuksa-val/kuksa-val-server
Restart=on-abort

[Install]
WantedBy=multi-user.target
