[Unit]
Description=w3c VIS server
After=network.target

[Service]
WorkingDirectory=/usr/bin/w3c-visserver
ExecStart=/usr/bin/w3c-visserver/w3c-visserver
Restart=on-abort

[Install]
WantedBy=multi-user.target
