# /********************************************************************************
# * Copyright (c) 2022 Contributors to the Eclipse Foundation
# *
# * See the NOTICE file(s) distributed with this work for additional
# * information regarding copyright ownership.
# *
# * This program and the accompanying materials are made available under the
# * terms of the Apache License 2.0 which is available at
# * http://www.apache.org/licenses/LICENSE-2.0
# *
# * SPDX-License-Identifier: Apache-2.0
# ********************************************************************************/

name: kuksa_client_docker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths:
    - ".github/workflows/kuksa-client.yml"
    - "kuksa-client/**"
  workflow_dispatch:

jobs:
  checkrights:
    uses: ./.github/workflows/check_push_rights.yml
    secrets: inherit

  build:
    runs-on: self-hosted
    needs: checkrights

    steps:
    - uses: actions/checkout@v3
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        # list of Docker images to use as base name for tags
        images: |
          ghcr.io/eclipse/kuksa.val/kuksa-client
        # generate Docker tags based on the following events/attributes
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
          
    # only needed for runners without buildx setup, will be slow 
    #- name: Set up QEMU
    #  uses: docker/setup-qemu-action@v2
      
    #- name: Set up Docker Buildx
    #  id: buildx
    #  uses: docker/setup-buildx-action@v2
    
    - name: Log in to the Container registry
      if: needs.checkrights.outputs.have_secrets == 'true'
      uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          #username: kuksa-bot #keep it for now, maybe the standard token can not push to same package
          #password: ${{ secrets.PUSH_CONTAINER_TOKEN }}

    - name: Build kuksa command line client docker and push to ghcr.io
      if: ${{ needs.checkrights.outputs.have_secrets == 'true' && github.event_name != 'pull_request' }}
      uses: docker/build-push-action@v4
      with:
        platforms: |
          linux/amd64
          linux/arm64
        context: .
        file: kuksa-client/Dockerfile
        push: true
        tags: |
          ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

    # Push currently disabled as it results in 413 Request Entity Too Large
    - name: Build ephemereal kuksa command line client docker and push to ttl.sh
      if:  ${{ needs.checkrights.outputs.have_secrets == 'false' || github.event_name == 'pull_request' }}
      uses: docker/build-push-action@v4
      with:
        platforms: |
          linux/amd64
          linux/arm64
        context: .
        file: kuksa-client/Dockerfile
        push: false
        tags: "ttl.sh/kuksa.val/kuksa-client-${{github.sha}}:1h"
        labels: ${{ steps.meta.outputs.labels }}
        

  dbc2val-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kuksa.val
        uses: actions/checkout@v3
      - name: Install pip
        run: |
          python -m pip --quiet --no-input install --upgrade pip
      - name: Install dependencies with pip
        run: |
          cd kuksa-client
          pip install -r requirements.txt -e .
          pip install -r test-requirements.txt
      - name: Run tests
        run: |
          cd kuksa-client
          pytest
      - name: Build pypi package
        run: |
          cd kuksa-client
          pip install --upgrade build
          python -m build

