name: kuksa_val_docker arm64

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: [ self-hosted ]

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v3.5.0
      with:
        # list of Docker images to use as base name for tags
        images: |
          kuksa-val
        # generate Docker tags based on the following events/attributes
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build kuksa-val docker
      uses: docker/build-push-action@v2
      with:
        platforms: linux/arm64
        file: ./kuksa-val-server/docker/Dockerfile
        context: .
        #push: ${{ github.event_name != 'pull_request' }}
        push: false
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        outputs: type=docker,dest=/tmp/kuksa_val_arm64.tar # multi-platform images cannot be exported with the docker export type`
        cache-from: type=gha, scope=${{ github.workflow }}
        cache-to: type=gha, scope=${{ github.workflow }}
    - name: Upload ARM64 artifact 
      uses: actions/upload-artifact@v2
      with:
        name: kuksa_val_arm64
        path: /tmp/kuksa_val_arm64.tar
