# /********************************************************************************
# * Copyright (c) 2022 Contributors to the Eclipse Foundation
# *
# * See the NOTICE file(s) distributed with this work for additional
# * information regarding copyright ownership.
# *
# * This program and the accompanying materials are made available under the
# * terms of the Apache License 2.0 which is available at
# * http://www.apache.org/licenses/LICENSE-2.0
# *
# * SPDX-License-Identifier: Apache-2.0
# ********************************************************************************/

name: kuksa_databroker_build

on:
  push:
    branches: [ master ]
  pull_request:
    paths:
      - ".github/workflows/kuksa_databroker_build.yml"
      - "kuksa_databroker/**"
      - "Cargo.*"
      - "Cross.toml"
  workflow_call:
  workflow_dispatch:


jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: cargo fmt
        working-directory: ${{github.workspace}}
        run: cargo fmt -- --check
      - name: cargo clippy
        working-directory: ${{github.workspace}}
        run: cargo clippy --all-targets -- -W warnings -D warnings

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-tarpaulin
          version: latest

      - uses: actions-rs/install@v0.1
        with:
          crate: cross
          version: latest

      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-strip
          version: latest

      - uses: actions-rs/install@v0.1
        with:
          crate: cargo2junit
          version: latest

      - name: Run Tests
        working-directory: ${{github.workspace}}
        run: |
          cargo test --all-targets -- -Z unstable-options --report-time --format json | cargo2junit > results.xml;

      # - name: Publish test results as PR comment
      #   uses: EnricoMi/publish-unit-test-result-action@v1
      #   if: github.event_name == 'pull_request'
      #   with:
      #     check_name: Test Results
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     files: results.xml

      - name: Upload testing report
        uses: actions/upload-artifact@v3
        with:
          name: Unit test results
          path: results.xml

      - name: Run code coverage
        run: |
          cargo tarpaulin -o Xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: Code coverage report
          path: cobertura.xml

      # - name: Publish coverage report as comment
      #   uses: 5monkeys/cobertura-action@v12
      #   if: github.event_name == 'pull_request'
      #   with:
      #     path: cobertura.xml
      #     repo_token: ${{ secrets.GITHUB_TOKEN }}
      #     minimum_coverage: 40


  checkrights:
    uses: ./.github/workflows/check_push_rights.yml
    secrets: inherit

# Run on selfhosted, becasue our runner has native ARM build in a remote
# builder (no need for qemu
  build-container:
    runs-on: [ self-hosted ]
    needs: checkrights

    steps:
    - uses: actions/checkout@v3
      with: 
        submodules: recursive

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        # list of Docker images to use as base name for tags
        images: |
          ghcr.io/eclipse/kuksa.val/databroker
        # generate Docker tags based on the following events/attributes
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
          
    # only needed for runners without buildx setup, will be slow 
    #- name: Set up QEMU
    #  uses: docker/setup-qemu-action@v2
      
    #- name: Set up Docker Buildx
    #  id: buildx
    #  uses: docker/setup-buildx-action@v2

    - name: Log in to the Container registry
      if: needs.checkrights.outputs.have_secrets == 'true'
      uses: docker/login-action@v2
      with:
          registry: ${{ needs.checkrights.outputs.registry }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build kuksa.val databroker container container and push to ghcr.io (and ttl.sh)
      id: ghcr-build
      if: needs.checkrights.outputs.have_secrets == 'true'
      uses: docker/build-push-action@v3
      with:
        platforms: |
          linux/amd64
          linux/arm64
        file: ./kuksa_databroker/Dockerfile
        context: .
        push: true
        tags: |
          ${{ steps.meta.outputs.tags }}
          ttl.sh/kuksa.val/kuksa-databroker-${{github.sha}}:1h
        labels: ${{ steps.meta.outputs.labels }}

    - name: Build ephemereal kuksa.val databroker container and push to ttl.sh
      if: needs.checkrights.outputs.have_secrets == 'false'
      id: tmp-build
      uses: docker/build-push-action@v3
      with:
        platforms: |
          linux/amd64
          linux/arm64
        file: ./kuksa_databroker/Dockerfile
        context: .
        push: true
        tags: "ttl.sh/kuksa.val/kuksa-databroker-${{github.sha}}:1h"
        labels: ${{ steps.meta.outputs.labels }}
  
    - name: Posting message
      run: |
        echo "## :hatching_chick: Moin!" >> $GITHUB_STEP_SUMMARY
        echo "Something new is in the world" >> $GITHUB_STEP_SUMMARY 
        echo -e "\nImages for testing temporarily available at \`ttl.sh/kuksa.val/kuksa-databroker-${{github.sha}}:1h\`" >> $GITHUB_STEP_SUMMARY
          echo -e "\n\`\`\`\ndocker pull ttl.sh/kuksa.val/kuksa-databroker-${{github.sha}}:1h\n\`\`\`" >> $GITHUB_STEP_SUMMARY

    - name: Extracting AMD64 binaries
      run: | 
        docker rm brokeramd || true
        docker create --name brokeramd --platform linux/amd64 ttl.sh/kuksa.val/kuksa-databroker-${{github.sha}}:1h
        docker cp brokeramd:/app ./  
        docker rm brokeramd
        mv ./app ./databroker-amd64
        tar -czf databroker-amd64.tar.gz -C databroker-amd64 .

    - name: Extracting ARM64 binaries
      run: | 
        docker rm brokerarm || true
        docker create --name brokerarm --platform linux/arm64 ttl.sh/kuksa.val/kuksa-databroker-${{github.sha}}:1h
        docker cp brokerarm:/app ./  
        docker rm brokerarm
        mv ./app ./databroker-arm64
        tar -czf databroker-arm64.tar.gz -C databroker-arm64 .  

    - name: Archive  AMD64 binaries
      uses: actions/upload-artifact@v3
      with:
        name: databroker-amd64
        path: ./databroker-amd64.tar.gz 
         
    - name: Archive  ARM64 binaries
      uses: actions/upload-artifact@v3
      with:
        name: databroker-arm64
        path: ./databroker-arm64.tar.gz

  integration-test:
    name: Run integration test
    runs-on: ubuntu-latest
    needs: [build-container]

    steps:
    
      - uses: actions/checkout@v2
        
      - name: Run integration test
        env:
          DATABROKER_IMAGE: ttl.sh/kuksa.val/kuksa-databroker-${{github.sha}}:1h
        run: |
          ${{github.workspace}}/kuksa_databroker/integration_test/run.sh
